<div class="about">
    <div class="info">
        <img class="profileImg" src="../../../assets/img/aboutImg.jpg" alt="">
        <div class="biography">
           Moje ime je Demir Husičić, imam {{age}} i bavim se slikarstvom već duži niz godina. 
           Slikarstvo je ono što mene opušta, uvodi u novi svijet pun mašte i čini da misli postanu stvarnost.
           Dobra slika je uvijek radost za oči a takođe neprocjenjiv ukras za prostor u kome se nalazi.
           Da su moje slike upravo takve, dokaz je bogati repertoar slika koje možete pogledati upravo ispod i naravno kupiti
           jednu od njih.
        </div>
    </div>
    <div class="contact">
        <p>demirhusicic20@gmail.com</p>
        <a href="https://www.instagram.com/demirhusicic/"><i class="fa fa-instagram"></i></a>
        <a href="https://www.facebook.com/demir.husicic"><i class="fa fa-facebook-square"></i></a>
    </div>
</div>