<div class="picturesContainer">
    <div *ngFor="let picture of pictures">
        <div *ngIf="picture.sold === 'no'">
            <div class="available" (click)="goToPicture(picture._id)">
                <img src="{{picture.image_url}}" alt="image">
                <div class="availableMsg"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;kupi</div>
            </div>
        </div>
        <div *ngIf="picture.sold ==='yes'">
            <div class="sold">
                <img src="{{picture.image_url}}" alt="image">
                <div class="soldMessage">Prodano</div>
            </div>
        </div>
    </div>
</div>